Host Prod
  HostName 0ef323b8-f77c-47f7-8cd7-7cc0e606aaac.pub.cloud.scaleway.com
  User ansible
  StrictHostKeyChecking no

Host Integ
  HostName 172.17.177.20
  User vagrant
  StrictHostKeyChecking no
  ProxyCommand ssh -q ansible@0ef323b8-f77c-47f7-8cd7-7cc0e606aaac.pub.cloud.scaleway.com nc %h %p
